# Built-in; ship with vip-go-mu-plugins
/plugins/akismet/
/plugins/advanced-post-cache/
/plugins/cron-control/
/plugins/debug-bar/
/plugins/debug-bar-cron/
/plugins/gutenberg-ramp/
/plugins/jetpack/
/plugins/jetpack-force-2fa/
/plugins/lightweight-term-count-update/
/plugins/query-monitor/
/plugins/rewrite-rules-inspector/
/plugins/two-factor/
/plugins/vaultpress/

# Additional local plugins
/plugins/my-photon
/plugins/stage-file-proxy
/plugins/user-switching
plugins/wp-graphql
plugins/fakerpress
plugins/wp-graphiql
/plugins/user-switching
/plugins/user-switching

# Uploads directory
/uploads/

# Upgrade directory
/upgrade/

# mu-plugins; these are managed at the platform-level
/mu-plugins/

# drop-ins; these are managed at the platform-level
/object-cache.php
/db.php

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea
.vscode

# logs
debug.log
npm-debug.log

# Composer
vendor/

# FE
node_modules/
build/

# dependencies
/node_modules

# production
/build

# styleguide
/styleguide/index.html
/styleguide/stats.json
/styleguide/build
/styleguide/static

# misc
.env*
.cache/*
npm-debug.log*
