# environment variables
.env
!.env.example

# dependencies
/node_modules

# production
/build

# styleguide
/styleguide/index.html
/styleguide/stats.json
/styleguide/build
/styleguide/static

# misc
.DS_Store

npm-debug.log*

# Local, in-progress components.
/component-betas
